<footer class="footer bg-dark text-white" style="margin-top:300px;"></footer>
    <div class="container" style="padding-top:20px;">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium risus quis urna maximus, eget vestibulum risus vestibulum.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Contact Us</h5>
                <address>
                    <strong>Company Name</strong><br>
                    123 Street, City<br>
                    Country<br>
                    <i class="fas fa-phone"></i> Phone: +1234567890<br>
                    <i class="fas fa-envelope"></i> Email: info@example.com
                </address>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <hr class="bg-light">
                <p class="text-center">© 2024 Ecommerce Recommendation System. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>